<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="tru" >
    <testsuites>
        <testsuite name="Nonces Test Suite">
            <directory>test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
